<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<link rel="stylesheet" href="/asset/datetimepicker/css/amazeui.datetimepicker.css"/>
<link rel="stylesheet" href="/asset/quill/quill.snow.css"/>
<script type="text/javascript" src="/asset/datetimepicker/js/amazeui.datetimepicker.min.js"></script>
<script type="text/javascript" src="/asset/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js"
        charset="UTF-8"></script>
<script type="text/javascript" src="/asset/quill/quill.min.js" charset="UTF-8"></script>
<div th:replace="fragments/header :: default"></div>
<div id="app">
    <div class="manage-l">
        <div th:replace="fragments/leftnav :: default"></div>
    </div>

    <div class="manage-r">
        <div class="hd_list_right_tt">
            <div class="l"><strong>团体管理</strong></div>
            <div class="vip_adv"></div>

        </div>

        <div class="amz-container">
            <div class="am-g">
                <div class="am-alert am-alert-warning" data-am-alert th:if="${errorMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-warning am-icon-warning"></span>
                        <span th:text="${errorMessage}">Some Error message</span>
                    </p>
                </div>
            </div>

            <form id="c-community-add-form" data-am-validator method="post" class="am-form am-form-horizontal"
                  action="/sec/admin/community/saveCommunity">
                <input type="hidden" id="id"
                       name="id" th:value="${community.id}"/>
                <input type="hidden" id="created"
                       name="created" th:value="${community.created}"/>
                <input type="hidden" id="createdBy"
                       name="createdBy" th:value="${community.createdBy}"/>

                <fieldset>

                        <div class="am-form-group">
                            <label for="name" class="am-u-sm-2 am-form-label">团体名称</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="name" maxlength="100"
                                       name="name" th:placeholder="请输入团体名称" th:value="${community.name}"/>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="description" class="am-u-sm-2 am-form-label">标语</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="description" maxlength="50"
                                       name="description" th:placeholder="请输入标语" th:value="${community.description}"/>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="address" class="am-u-sm-2 am-form-label">地址</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="address" maxlength="200"
                                       name="address" th:placeholder="请输入地址" th:value="${community.address}"/>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact" class="am-u-sm-2 am-form-label">联系电话</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="contact" maxlength="50"
                                       name="contact" th:placeholder="请输入联系电话" th:value="${community.contact}"/>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="company" class="am-u-sm-2 am-form-label">公司名称</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="company" maxlength="100"
                                       name="company" th:placeholder="请输入公司名称" th:value="${community.company}"/>
                            </div>
                        </div>

                        <!--负责人名称-->
                        <div class="am-form-group">
                            <label for="controlName" class="am-u-sm-2 am-form-label">负责人名称</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="text" id="controlName" maxlength="50"
                                       name="controlName" th:placeholder="请输入负责人名称"
                                       th:value="${community.controlName}"/>
                            </div>
                        </div>


                        <!--管理员联系电话-->
                        <div class="am-form-group">
                            <label for="managerPhoneNumber" class="am-u-sm-2 am-form-label">管理员手机号码</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="tel" id="managerPhoneNumber" maxlength="50"
                                       name="managerPhoneNumber" th:placeholder="请输入管理员手机号码"
                                       th:value="${community.managerPhoneNumber}"/>
                                <span class="c-avatar-tip">温馨提示：团体管理员使用此手机号码登录平台，初始密码为123456</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="countPeople" class="am-u-sm-2 am-form-label">规模人数</label>
                            <div class="am-u-sm-10">
                                <input required="required" type="number" id="countPeople" min="0" max="1000000"
                                       name="countPeople" th:placeholder="请输入规模人数" th:value="${community.countPeople}"/>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">营业执照</label>
                            <div class="am-u-sm-10">
                                <input-image-uploader v-model="community.businessLicense"
                                                      name-text="businessLicense"
                                                      desc-text="温馨提示：图片尺寸建议为：900*525，小于4M"></input-image-uploader>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">背景图片</label>
                            <div class="am-u-sm-10">
                                <input-image-uploader v-model="community.background"
                                                      name-text="background"
                                                      desc-text="温馨提示：图片尺寸建议为：900*525，小于4M"></input-image-uploader>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">图标</label>
                            <div class="am-u-sm-10">
                                <input-image-uploader v-model="community.avatar"
                                                      name-text="avatar"
                                                      desc-text="温馨提示：图片尺寸建议为：900*525，小于4M"></input-image-uploader>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">团体介绍</label>
                            <div class="am-u-sm-10">
                                <!--<div id="c-upload-community-about-editor"></div>-->
                                <!--<input id="c-community-about-text" required="required"-->
                                       <!--style="display: none;" type="text" name="about" v-model="community.about"/>-->
                                <!--<div id="c-community-about-editor">-->
                                <!--</div>-->
                                <quill-text v-model="community.about" name-text="about"></quill-text>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">启用积分</label>
                            <div class="am-u-sm-10">
                                <label class="am-radio-inline">
                                    <input type="checkbox" id="usingScore"
                                           name="usingScore" v-model="community.usingScore">
                                </label>
                                <br>
                                <span class="c-avatar-tip">温馨提示：启用积分后，发布活动时，可进行积分奖励设置；用户报名时，可使用积分抵扣；换算：1积分=1元（人民币）</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">启用在线退款</label>
                            <div class="am-u-sm-10">
                                <label class="am-radio-inline">
                                    <input type="checkbox" id="canRefund"
                                           name="canRefund" v-model="community.canRefund">
                                </label>
                                <br>
                                <span class="c-avatar-tip">温馨提示：启用在线退款，针对活动缴费用户可在线退款</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">启动会员</label>
                            <div class="am-u-sm-10">
                                <label class="am-radio-inline">
                                    <input type="checkbox" id="isVip"
                                           name="isVip" v-model="community.isVip">
                                </label>
                                <br>
                                <span class="c-avatar-tip">温馨提示：启用会员后，发布活动时，可进行会员票种及会员积分奖励设置；</span>
                            </div>
                        </div>

                        <div class="am-form-group" v-show="community.isVip===true">
                            <label class="am-u-sm-2 am-form-label">会费</label>
                            <div class="am-u-sm-10">
                                <input type="number" id="vipAmount" th:required="${community.isVip==true}" min="0" max="10000"
                                       name="vipAmount" th:placeholder="请输入会费金额"
                                       th:value="${community.vipAmount}"/>
                                <span class="c-avatar-tip">温馨提示：按自然年缴纳会费！</span>
                            </div>
                        </div>

                        <div class="am-form-group" v-show="community.isVip===true">
                            <label class="am-u-sm-2 am-form-label">会员条款</label>
                            <div class="am-u-sm-10">
                                <!--<div id="c-upload-community-vip-editor"></div>-->
                                <!--<input id="c-community-vip-text" th:required="${community.isVip==true}"-->
                                       <!--style="display: none;" type="text" name="vipAgreement"-->
                                       <!--v-model="community.vipAgreement"/>-->
                                <!--<div id="c-community-vip-editor">-->
                                <!--</div>-->
                                <quill-text v-model="community.vipAgreement" name-text="vipAgreement"></quill-text>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-offset-2">
                                <button type="submit" class="am-btn am-btn-primary">保存</button>
                                <a class="am-btn am-btn-default" type="button"
                                   th:href="@{/sec/admin/community/communities}">返回</a>
                            </div>
                        </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    #app .ql-editor {
        max-height: 200px;
        overflow-y: scroll;
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${community}]]
    /*]]>*/
</script>
<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/sec/admin/community/community.js"></script>
</body>
</html>