<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: default">
</head>
<body>
<link rel="stylesheet" href="/asset/datetimepicker/css/amazeui.datetimepicker.css"/>
<link rel="stylesheet" href="/asset/quill/quill.snow.css"/>
<script type="text/javascript" src="/asset/datetimepicker/js/amazeui.datetimepicker.min.js"></script>
<script type="text/javascript" src="/asset/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js"
        charset="UTF-8"></script>
<script type="text/javascript" src="/asset/quill/quill.min.js" charset="UTF-8"></script>
<div th:replace="fragments/header :: default"></div>
<div id="c_sec_article_publish_app">
    <div class="amz-container">
        <form id="c-article-create-form" method="post" class="am-form am-form-horizontal"
              action="/sec/article/article_update">
            <input type="hidden" id="id" name="id" th:value="${article.id}" />
            <fieldset>
                <legend>发布内容</legend>
                <div class="am-form-group">
                    <label for="article_title" class="am-u-sm-2 am-form-label">内容标题</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="article_title" name="title" th:value="${article.title}"
                               placeholder="请输入标题"/>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="article_summary" class="am-u-sm-2 am-form-label">内容摘要</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="article_summary" name="summary" th:value="${article.summary}"
                               placeholder="请输入摘要"/>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">内容图片</label>
                    <div class="am-u-sm-10">
                        <input type="hidden" name="avatar" v-model="article.avatar" th:value="${article.avatar}"/>
                        <div class="c-avatar">
                            <img v-bind:src="getArticleAvatar()"/>
                            <span>
                                <button id="c-upload-article-avatar"
                                        class="am-btn am-btn-primary am-btn-xs">更新图片</button>
                                <br/>
                                <span class="c-avatar-tip">温馨提示：图片尺寸建议为：900*525，图片小于4M</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_publishTime" class="am-u-sm-2 am-form-label"><span></span>发布时间</label>
                    <div class="am-u-sm-10">
                        <input required="required" class="c-datetimepicker publish-time" type="text" id="publish_Time"
                               name="publishTime"  th:value="${article.publishTime}" placeholder="请输入发布时间"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_category" class="am-u-sm-2 am-form-label">内容类型</label>
                    <div class="am-u-sm-10">
                        <select required="required" id="article_category" name="category" placeholder="请选择类型"
                                data-am-selected="">
                            <option value="">--</option>
                            <option th:selected="${article.category==1}"
                                    th:value="1" th:text="公告通知"></option>
                            <option th:selected="${article.category==2}"
                                    th:value="2" th:text="赛事新闻"></option>
                            <option th:selected="${article.category==3}"
                                    th:value="3" th:text="运动指南"></option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_body" class="am-u-sm-2 am-form-label">内容详情</label>
                    <div class="am-u-sm-10">
                        <div id="c-upload-article-body-editor"></div>
                        <input id="c-article-body-text" required="required" style="display: none;" type="text"
                               v-model="article.body"
                               name="body" th:value="${article.body}"/>
                        <div id="c-article-body-editor">
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_status" class="am-u-sm-2 am-form-label"></span>发布状态</label>
                    <div class="am-u-sm-10">
                        <select required="required" id="article_status" name="status" placeholder="请选择发布状态"
                                data-am-selected="">
                            <option value="">--</option>
                            <option th:selected="${article.status==-1}"
                                    th:value="-1" th:text="禁用"></option>
                            <option th:selected="${article.status==0}"
                                    th:value="0" th:text="草稿"></option>
                            <option th:selected="${article.status==1}"
                                    th:value="1" th:text="发布"></option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_community" class="am-u-sm-2 am-form-label">发布平台</label>
                    <div class="am-u-sm-10">
                        <label class="am-radio-inline">
                            <input type="radio" th:checked="${article.communityId ==0}" th:value="0"
                                   name="communityId"> 平台发布
                        </label>
                        <label class="am-radio-inline">
                            <input type="radio" th:checked="${article.communityId ==1}" th:value="1" name="communityId">
                            团体发布
                        </label>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="article_unit" class="am-u-sm-2 am-form-label">发布单位</label>
                    <div class="am-u-sm-10">
                        <input required="required" type="text" id="article_unit" name="unit" th:value="${article.unit}"
                               placeholder="请输入发布单位名称"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button class="am-btn am-btn-secondary" type="submit">发布</button>
                        <a class="am-btn am-btn-default" type="button" th:href="@{/sec/article/articles}">返回</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    #c_sec_article_publish_app {
        margin-top: 30px;
    }

    #c_sec_article_publish_app .c-avatar img {
        display: inline-block;
        height: 123px;
        min-width: 50px;
        max-width: 500px;
    }

    #c_sec_article_publish_app .c-avatar .c-avatar-tip {
        font-size: 12px;
        color: gray;
    }

    #c_sec_article_publish_app .c-datetimepicker {
        display: inline-block;
        width: 200px;
    }

    #c-article-body-editor {
        background-color: white;
        min-height: 400px;
    }

</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = {
        avatar: [[${article.avatar}]],
        body:[[${article.body}]],
        publishTime:[[${article.publishTime}]]
    }
    /*]]>*/
</script>
<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/article/pubarticle.js"></script>
</body>
</html>