<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: default">
</head>
<body>
<link rel="stylesheet" href="/asset/datetimepicker/css/amazeui.datetimepicker.css"/>
<link rel="stylesheet" href="/asset/quill/quill.snow.css"/>
<script type="text/javascript" src="/asset/datetimepicker/js/amazeui.datetimepicker.min.js"></script>
<script type="text/javascript" src="/asset/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="/asset/quill/quill.min.js" charset="UTF-8"></script>
<div th:replace="fragments/header :: default"></div>
<div id="c_sec_activity_publish_app">
    <div class="amz-container">
        <form id="c-activity-create-form" method="post" class="am-form am-form-horizontal">
            <input type="hidden" name="json_data" />
            <fieldset>
                <legend>发布<span th:text="${typeName}"></span></legend>
                <div class="am-form-group">
                    <label for="activity_title" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>主题</label>
                    <div class="am-u-sm-10">
                        <input required="required" type="text" v-model="cacheData.activity.title" id="activity_title" name="title" th:placeholder="${'请输入'+ typeName + '主题'}" />
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="activity_summary" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>摘要</label>
                    <div class="am-u-sm-10">
                        <input required="required" type="text" v-model="cacheData.activity.summary" id="activity_summary" name="summary" th:placeholder="${'请输入'+ typeName + '摘要'}" />
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>海报</label>
                    <div class="am-u-sm-10">
                        <input type="hidden" name="avatar" v-model="cacheData.activity.avatar"/>
                        <div class="c-avatar">
                            <img v-bind:src="getActivityAvatar()"/>
                            <span>
                                <button id="c-upload-activity-avatar" class="am-btn am-btn-primary am-btn-xs">更新海报</button>
                                <br />
                                <span class="c-avatar-tip">温馨提示：图片尺寸建议为：900*525，图片小于4M</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_startTime" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>时间</label>
                    <div class="am-u-sm-10">
                        <input required="required" class="c-datetimepicker start-time" type="text" id="activity_startTime" name="startTime" placeholder="开始时间" />
                         -
                        <input required="required" class="c-datetimepicker end-time" type="text" id="activity_endTime" name="endTime" placeholder="结束时间" />
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_address" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>地址</label>
                    <div class="am-u-sm-10">
                        <div  class="am-input-group am-input-group-primary">
                            <input  v-model="cacheData.activity.address" required="required" type="text" id="activity_address" class="am-form-field" name="address" placeholder="打来地图选择举办地址" />
                            <span v-on:click="showAddressMap = !showAddressMap" class="am-input-group-label"><i class="am-icon-location-arrow am-icon-fw"></i></span>
                        </div>
                        <div v-if="showAddressMap" style="height: 600px;width: 100%">
                            <iframe id="mapPage" width="100%" height="100%" frameborder="0" src="http://apis.map.qq.com/tools/locpicker?search=1&type=1&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
                            </iframe>
                        </div>

                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_tags" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>标签</label>
                    <div class="am-u-sm-10">
                        <select required="required" id="activity_tags" name="tags" placeholder="请选择标签"  data-am-selected="">
                            <option value="">--</option>
                            <option value="b5">跑步训练</option>
                            <option value="b13">运动装备</option>
                            <option value="b12">会员福利</option>
                            <option value="b10">国内赛事</option>
                            <option value="b11">国际赛事</option>
                            <option value="b1">徒步</option>
                            <option value="b2">越野</option>
                            <option value="b3">聚餐</option>
                            <option value="b4">骑行</option>
                            <option value="b6">会议</option>
                            <option value="b7">招募</option>
                            <option value="b8">讲座</option>
                            <!--<option value="b9">赛事报名</option>-->
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_title" class="am-u-sm-2 am-form-label"><span th:text="${typeName}"></span>详情</label>
                    <div class="am-u-sm-10">
                        <div id="c-upload-activity-body-editor"></div>
                        <input v-model="cacheData.activity.body" id="c-activity-body-text" required="required" style="display: none;" type="text" name="body" />
                        <div id="c-activity-body-editor">

                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_title" class="am-u-sm-2 am-form-label">报名费用</label>
                    <div class="am-u-sm-10">
                        <div class="c-ticket-table">
                            <table class="am-table am-table-bordered am-table-centered">
                                <thead>
                                <tr>
                                    <th style="width: 50px;text-align: center;">序号</th>
                                    <th>费用名称</th>
                                    <th style="width: 100px;">金额</th>
                                    <th style="width: 100px;">积分最大使用量</th>
                                    <th style="width: 100px;">名额限制</th>
                                    <th style="width: 120px;">马协会员专享</th>
                                    <th style="width: 150px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(ticket, $index) in cacheData.tickets" v-bind:key="objectId(ticket)">
                                        <td v-text="$index + 1"></td>
                                        <td class="c-input">
                                            <input required="required" type="text" v-model="ticket.title" placeholder="输入费用名称" />
                                        </td>
                                        <td class="c-input">
                                            <input required="required" type="number" v-model="ticket.price" placeholder="0为免费" />
                                        </td>
                                        <td class="c-input">
                                            <input required="required" type="number" v-model="ticket.score" placeholder="0为不允许使用" />
                                        </td>
                                        <td class="c-input">
                                            <input required="required" type="number" v-model="ticket.count" placeholder="0为不限" />
                                        </td>
                                        <td>
                                            <input type="checkbox" v-bind:true-value="1" v-bind:false-value="0" v-model="ticket.userLevel" />
                                        </td>
                                        <td>
                                            <button type="button" class="am-btn am-btn-primary am-btn-xs am-btn-link" v-on:click="addTicket($index)"><i class="fa fa-plus"></i>&nbsp;添加</button>
                                            <button type="button" class="am-btn am-btn-primary am-btn-xs am-btn-link" v-if="cacheData.tickets.length > 1" v-on:click="removeTicket($index)"><i class="fa fa-times"></i>&nbsp;删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label  class="am-u-sm-2 am-form-label">签到获取积分</label>
                    <div class="am-u-sm-10">
                        <div class="c-ticket-table">
                            <table class="am-table am-table-bordered am-table-centered">
                                <thead>
                                <tr>
                                    <th style="width: 50px;text-align: center;">一般用户积分</th>
                                    <th style="width: 100px;">马协会员积分</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="c-input">
                                        <input required="required" type="text" v-model="cacheData.scoreInfos.generalUserScore" placeholder="0为没有积分" />
                                    </td>
                                    <td class="c-input">
                                        <input required="required" type="number" v-model="cacheData.scoreInfos.vipUserScore" placeholder="0为没有积分" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_title" class="am-u-sm-2 am-form-label">报名截止时间</label>
                    <div class="am-u-sm-10">
                        <label class="am-form-label"><input v-model="cacheData.canAttend" type="checkbox" /><span th:text="${typeName}"></span>结束前均可报名</label>
                        <br />
                        <input v-model="cacheData.activity.attendDueTime" v-show="!cacheData.canAttend" required="required" class="c-datetimepicker attend-due-time" type="text" id="activity_attendDueTime" name="attendDueTime" placeholder="报名截止时间" />
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_title" class="am-u-sm-2 am-form-label">报名填写信息</label>
                    <div class="am-u-sm-10">
                        <div class="c-attend-infos">
                            <div class="c-attend-left">
                                <div class="c-attend-item" v-for="(info, $index) in cacheData.attendInfos" v-bind:key="objectId(info)">
                                    <label><input style="margin-right: 5px;" type="checkbox" v-model="info.required"/>必填</label>
                                    <div>
                                        <input required="required" type="text" v-model="info.title" />
                                        <div v-if="info.type == 'select'">
                                            <div style="margin-top:5px;" v-for="(opt, $index) in info.options" v-bind:key="objectId(opt)">
                                                <i style="display: inline-block;width:30px;" v-if="info.multiple" class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                                <i style="display: inline-block;width:30px;" v-if="!info.multiple" class="fa fa-check-square-o" aria-hidden="true"></i>
                                                <input required="required" style="display: inline-block;width:250px;" type="text" v-model="opt.title" />
                                                <button class="am-btn am-btn-link"  v-if="$index > 1" type="button" v-on:click="removeAttendInfoOpt(info, opt)"> <i class="fa fa-remove"></i> </button>
                                            </div>
                                            <button style="margin-top:5px;" v-on:click="addAttendInfoOpt(info)" type="button" class="am-btn am-btn-default am-btn-xs">添加选项</button>
                                        </div>
                                    </div>
                                    <button class="am-btn am-btn-link"  v-if="$index > 1" type="button" v-on:click="removeAttendInfo(info)"> <i class="fa fa-remove"></i> </button>
                                </div>
                            </div>
                            <div class="c-attend-right">
                                <div class="c-attend-right-container">
                                    常用信息
                                    <hr style="margin-top: 5px; margin-bottom: 10px" />
                                    <div class="c-attend-common-item" v-for="info in attendInfo.commons" v-bind:key="objectId(info)">
                                        <button v-bind:title="info.title" type="button" v-on:click="addAttendInfo(info)" class="am-btn am-btn-secondary" v-text="info.title"></button>
                                    </div>
                                    <div style="clear: both"></div>
                                    <br/>
                                    自定义项
                                    <hr style="margin-top: 5px; margin-bottom: 10px" />
                                    <div class="c-attend-custom-item" v-for="info in attendInfo.customs" v-bind:key="objectId(info)">
                                        <button type="button" v-on:click="addAttendInfo(info)" class="am-btn am-btn-secondary" v-text="info.title"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="activity_unit" class="am-u-sm-2 am-form-label">举办方</label>
                    <div class="am-u-sm-10">
                        <input v-model="cacheData.activity.unit" type="text" id="activity_unit" name="unit" placeholder="请输入举办方名称" />
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="submit" class="am-btn am-btn-primary">发布</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    #c_sec_activity_publish_app{
        margin-top: 30px;
    }
    #c_sec_activity_publish_app .c-avatar img{
        display: inline-block;
        height: 123px;
        min-width: 50px;
        max-width: 500px;
    }
    #c_sec_activity_publish_app .c-avatar .c-avatar-tip{
        font-size:12px;
        color: gray;
    }
    #c_sec_activity_publish_app .c-datetimepicker{
        display: inline-block;
        width: 200px;
    }
    #c-activity-body-editor{
        background-color: white;
        min-height: 400px;
    }
    #c_sec_activity_publish_app .c-ticket-table td.c-input{
        padding: 0px;
    }
    #c_sec_activity_publish_app .c-ticket-table td.c-input>input{
        border-width: 0px;
        margin: 0px;
        width: 100%;
        height: 44px;
    }
    #c_sec_activity_publish_app .c-attend-infos{
        border:1px solid #ccc;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-left{
        width: 66%;
        display: inline-block;
        padding: 10px;
        vertical-align: top;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right{
        width: 33%;
        display: inline-block;
        padding: 10px;
    }
    #c_sec_activity_publish_app .c-attend-infos{
        vertical-align: top;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right-container{
        background-color: #f9fafc;
        border: 1px solid #ecf0f5;
        padding: 10px;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-left .c-attend-item{
        padding: 10px;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-left .c-attend-item>label{
        width:60px;
        display: inline-block;
        vertical-align: top;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-left .c-attend-item>div{
        width:350px;
        display: inline-block;
        vertical-align: top;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-left .c-attend-item>button{
        display: inline-block;
        vertical-align: top;

    }

    #c_sec_activity_publish_app .c-attend-infos .c-attend-left .c-attend-item:hover{
        background-color: #f9fafc;
        border: 1px solid #ecf0f5;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right .c-attend-common-item{
        margin: 5px;
        float: left;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right .c-attend-common-item>button{
        width: 120px;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right .c-attend-custom-item{
        margin: 5px;
    }
    #c_sec_activity_publish_app .c-attend-infos .c-attend-right .c-attend-custom-item>button{
        width: 100%;

    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${data}]]
    /*]]>*/
</script>
<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/activity/publish.js"></script>
</body>
</html>
