<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<link rel="stylesheet" href="/asset/datetimepicker/css/amazeui.datetimepicker.css"/>
<link rel="stylesheet" href="/asset/quill/quill.snow.css"/>
<!--<script type="text/javascript" src="/asset/datetimepicker/js/amazeui.datetimepicker.min.js"></script>-->
<!--<script type="text/javascript" src="/asset/datetimepicker/js/locales/amazeui.datetimepicker.zh-CN.js"
        charset="UTF-8"></script>-->
<script type="text/javascript" src="/asset/quill/quill.min.js" charset="UTF-8"></script>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">
    <div class="manage-l">
        <div th:replace="fragments/leftnav :: default"></div>
    </div>

    <div class="manage-r">
        <div class="hd_list_right_tt">
            <div class="l"><strong>素材管理</strong></div>
            <div class="vip_adv"></div>

        </div>

        <div class="amz-container">
            <div class="am-g">
                <!--成功消息提示-->
                <div class="am-alert am-alert-secondary" data-am-alert th:if="${globalMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-success am-icon-check"></span>
                        <span th:text="${globalMessage}">Some Success message</span>
                    </p>
                </div>

                <!--错误消息提示-->
                <div class="am-alert am-alert-warning" data-am-alert th:if="${errorMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-warning am-icon-warning"></span>
                        <span th:text="${errorMessage}">Some Error message</span>
                    </p>
                </div>
            </div>

            <form class="am-form am-form-horizontal" data-am-validator method="post"
                  action="/sec/admin/material/save">
                <input type="hidden" id="id" name="id" placeholder="" th:value="${material.id}"/>

                <fieldset>

                    <div class="am-form-group">
                        <label class="am-u-sm-2 am-form-label">素材图片</label>
                        <div class="am-u-sm-10">
                            <input-image-uploader v-model="material.name"
                                                  name-text="name"
                                                  save-to-library="false"
                                                  select-from-library="false"
                                                  desc-text="温馨提示：图片尺寸建议为：1500*400，小于4M"></input-image-uploader>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="category" class="am-u-sm-2 am-form-label">分组</label>
                        <div class="am-u-sm-10">
                            <input required type="text" id="category" name="category"
                                   th:value="${material.category}"
                                   placeholder="请输入分组标题"/>
                            <span class="c-avatar-tip"></span>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="sequence" class="am-u-sm-2 am-form-label">排序</label>
                        <div class="am-u-sm-10">
                            <input required type="number" id="sequence" name="sequence"
                                   th:value="${material.sequence}"
                                   placeholder="请输入排序编号"/>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-10 am-u-sm-offset-2">
                            <button class="am-btn am-btn-secondary" type="submit">保存</button>
                            <a class="am-btn am-btn-default" type="button"
                               th:href="@{/sec/admin/material/materials}">返回</a>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>


<div th:replace="fragments/footer :: default"></div>
<style type="text/css">

</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${material}]]
    /*]]>*/
</script>
<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/sec/admin/material/material.js"></script>
</body>
