<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">
    <div class="manage-l">
        <div th:replace="fragments/leftnav :: default"></div>
    </div>

    <div class="manage-r">
        <div class="hd_list_right_tt">
            <div class="l"><strong>海报管理</strong><span>共<span id="posterCount"></span>条记录</span></div>
            <div class="vip_adv"></div>

        </div>
        <div class="am-tabs-bd am_bdfw">
            <div class="am-g">
                <!--成功消息提示-->
                <div class="am-alert am-alert-secondary" data-am-alert th:if="${globalMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-success am-icon-check"></span>
                        <span th:text="${globalMessage}">Some Success message</span>
                    </p>
                </div>

                <!--错误消息提示-->
                <div class="am-alert am-alert-warning" data-am-alert th:if="${errorMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-warning am-icon-warning"></span>
                        <span th:text="${errorMessage}">Some Error message</span>
                    </p>
                </div>
            </div>

            <div class="am-g">
                <form class="am-form-inline" method="post">


                    <div class="am-form-group">
                        <select id="posterType" name="posterType" placeholder="" data-am-selected="">
                            <option value="0" th:selected="${#httpServletRequest.getParameter('posterType')=='0'}">请选择海报类型</option>
                            <option value="n1" th:selected="${#httpServletRequest.getParameter('posterType')=='n1'}">赛事新闻</option>
                            <option value="b5" th:selected="${#httpServletRequest.getParameter('posterType')=='b5'}">跑步训练</option>
                            <option value="b13" th:selected="${#httpServletRequest.getParameter('posterType')=='b13'}">运动装备</option>
                            <option value="b12" th:selected="${#httpServletRequest.getParameter('posterType')=='b12'}">会员福利</option>
                            <option value="b10" th:selected="${#httpServletRequest.getParameter('posterType')=='b10'}">国内赛事</option>
                            <option value="b11" th:selected="${#httpServletRequest.getParameter('posterType')=='b11'}">国际赛事</option>
                            <option value="b1" th:selected="${#httpServletRequest.getParameter('posterType')=='b1'}">徒步</option>
                            <option value="b2" th:selected="${#httpServletRequest.getParameter('posterType')=='b2'}">越野</option>
                            <option value="b3" th:selected="${#httpServletRequest.getParameter('posterType')=='b3'}">聚餐</option>
                            <option value="b4" th:selected="${#httpServletRequest.getParameter('posterType')=='b4'}">骑行</option>
                            <option value="b6" th:selected="${#httpServletRequest.getParameter('posterType')=='b6'}">会议</option>
                            <option value="b7" th:selected="${#httpServletRequest.getParameter('posterType')=='b7'}">招募</option>
                            <option value="b8" th:selected="${#httpServletRequest.getParameter('posterType')=='b8'}">讲座</option>
                        </select>
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="title" name="title"
                               th:value="${#httpServletRequest.getParameter('title')}"
                               placeholder="请输入海报标题" class="am-form-field am-radius"/>
                    </div>

                    <button id="btnSearch" type="button" class="am-btn am-btn-default am-radius">
                        <i class="am-icon-search"></i> 查询
                    </button>
                </form>
            </div>

            <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>


            <div class="am-tab-panel am-fade am-in am-active">
                <div class="am-g dis_line">
                    <table class="am-table am-table-striped am-table-compact am-table-hover" id="bmTable"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>操作</th>
                            <th>序号</th>
                            <th>编号</th>
                            <th>标题</th>
                            <th>创建时间</th>
                            <th>类型</th>
                            <th>显示</th>
                            <th>排序</th>
                            <th>关联内容</th>
                            <th>PC海报图</th>
                            <th>手机海报图</th>
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div><!-- am-tabs-bd end -->

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: default"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/admin/poster/posters.js"></script>
</body>
