<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app" class="am_user" v-cloak>

    <div class="am-g amz-container">
        <div class="am-tabs am-tabs-d2 am_news_tab">
            <ul class="am-tabs-nav am-cf am_cf">
                <li class="" v-bind:class="tab==1?'am-active':''">
                    <a href="javascript:void(0)" v-on:click="go(1)">个人信息</a>
                </li>
                <li class="" v-bind:class="tab==2?'am-active':''">
                    <a href="javascript:void(0)" v-on:click="go(2)">账户安全</a>
                </li>

            </ul>

            <div class="am-tabs-bd am_bdfw">
                <div class="am-alert am-alert-secondary" data-am-alert th:if="${globalMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-success am-icon-check"></span>
                        <span th:text="${globalMessage}">Some Success message</span>
                    </p>
                </div>

                <div class="am-alert am-alert-warning" data-am-alert th:if="${errorMessage}">
                    <button type="button" class="am-close">&times;</button>
                    <p>
                        <span class="am-icon-lg am-warning am-icon-warning"></span>
                        <span th:text="${errorMessage}">Some Error message</span>
                    </p>
                </div>

                <div class="am-g">
                    <div class="am-u-lg-12">
                        <form class="am-form am-form-horizontal" data-am-validator method="post">
                            <input type="hidden" id="id" name="id" th:value="${user.id}"/>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    <span class="fa fa-mobile"></span>
                                    <span style="margin-left: 10px;">手机号</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <span id="userMobile">{{user.mobile}}</span>
                                    <span v-if="!user.mobile">填写手机号，可使用手机号登录</span><br/>
                                    <button id="updateMobileBtn" class="am-btn am-btn-default am-btn-xs" type="button"
                                            v-if="user.mobile"
                                            @click="bindUpdateMobile">更换手机号
                                    </button>
                                    <button id="addMobileBtn" class="am-btn am-btn-default am-btn-xs" type="button"
                                            v-if="!user.mobile"
                                            @click="bindAddMobile">添加手机号
                                    </button>

                                </div>
                            </div>

                            <div class="am-form-group" v-if="user.mobile">
                                <label class="am-u-sm-2 am-form-label">修改登录密码</label>
                                <div class="am-u-sm-10">
                                    建议您定期更改密码以保护账户安全<br/>
                                    <button id="changePasswordBtn" class="am-btn am-btn-default am-btn-xs" type="button"
                                            @click="bindChangePassword">修改密码
                                    </button>
                                </div>
                            </div>

                            <hr>

                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    <span class="fa fa-weixin"></span>
                                    <span style="margin-left: 10px;">微信账号</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <span th:if="${user.unionId}" th:text="${user.nickName}"></span>
                                    <span th:unless="${user.unionId}">绑定后，可使用微信账号直接登录</span><br/>
                                    <a th:unless="${user.unionId}" class="am-btn am-btn-default am-btn-xs"
                                       th:href="@{/pub/wx/open/bindwx}">立即绑定</a>

                                    <a th:if="${user.unionId != null && user.mobile != null}"
                                       class="am-btn am-btn-warning am-btn-xs"
                                       th:href="@{/sec/user/unbindwx}">解除绑定</a>
                                    <a th:if="${user.unionId != null && user.mobile == null}"
                                       class="am-btn am-btn-danger am-btn-xs"
                                       th:href="@{/sec/user/deletewx}">注销账户</a>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="am-modal am-modal-no-btn" tabindex="-1" id="add-mobile-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">手机号登录
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-g">
                    <div class="am-u-lg-12">
                        <form class="am-form am-form-horizontal" data-am-validator method="post">

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">手机号</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="mobile3" name="mobile3"
                                           v-model="mobile3" maxlength="11" required
                                           placeholder="请输入手机号" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">验证码</label>
                                <div class="am-u-sm-6">
                                    <input type="text" id="smsCode3" name="smsCode3"
                                           v-model="smsCode3" maxlength="6" required
                                           placeholder="请输入短信验证码" class="am-form-field am-radius"/>
                                </div>
                                <div class="am-u-sm-3">
                                    <button type="button" class="am-btn am-btn-default" @click="getVerCode3"
                                            v-if="canGetVerCode3">
                                        获取验证码
                                    </button>
                                    <span v-if="!canGetVerCode3" class="cxhuo">重新获取({{codeCount3}}s)</span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">登录密码</label>
                                <div class="am-u-sm-9">
                                    <input type="password" id="password3" name="password3"
                                           v-model="password3" minlength="6" maxlength="12" required
                                           placeholder="请输入登录密码,密码长度6-12位" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-offset-3" style="text-align: left">
                                    <button type="button" class="am-btn am-btn-primary" @click="addMobile"
                                            v-bind:disabled="addMobileDisabled">保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="update-mobile-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">更换手机号码
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-g">
                    <div class="am-u-lg-12">
                        <form class="am-form am-form-horizontal" data-am-validator method="post">

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">原手机号</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="mobile" name="mobile"
                                           v-model="mobile" maxlength="11" required
                                           placeholder="请输入原手机号" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">验证码</label>
                                <div class="am-u-sm-6">
                                    <input type="text" id="smsCode" name="smsCode"
                                           v-model="smsCode" maxlength="6" required
                                           placeholder="请输入短信验证码" class="am-form-field am-radius"/>
                                </div>
                                <div class="am-u-sm-3" style="text-align: left">
                                    <button type="button" class="am-btn am-btn-default" @click="getVerCode"
                                            v-if="canGetVerCode">
                                        获取验证码
                                    </button>
                                    <span v-if="!canGetVerCode" class="cxhuo">重新获取({{codeCount}}s)</span>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">新手机号</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="newMobile" name="newMobile"
                                           v-model="newMobile" maxlength="11" required
                                           placeholder="请输入新手机号" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">验证码</label>
                                <div class="am-u-sm-6">
                                    <input type="text" id="smsCode2" name="smsCode2"
                                           v-model="smsCode2" maxlength="6" required
                                           placeholder="请输入短信验证码" class="am-form-field am-radius"/>
                                </div>
                                <div class="am-u-sm-3" style="text-align: left">
                                    <button type="button" class="am-btn am-btn-default" @click="getVerCode2"
                                            v-if="canGetVerCode2">
                                        获取验证码
                                    </button>
                                    <span v-if="!canGetVerCode2" class="cxhuo">重新获取({{codeCount2}}s)</span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-offset-3" style="text-align: left">
                                    <button type="button" class="am-btn am-btn-primary"
                                            @click="updateMobile"
                                            v-bind:disabled="disabled">保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="change-password-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">修改登录密码
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-g">
                    <div class="am-u-lg-12">
                        <form class="am-form am-form-horizontal" data-am-validator method="post">

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">旧密码</label>
                                <div class="am-u-sm-9">
                                    <input type="password" id="oldPassword" name="oldPassword"
                                           v-model="oldPassword" required
                                           placeholder="请输入旧密码" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">新密码</label>
                                <div class="am-u-sm-9">
                                    <input type="password" id="password" name="password"
                                           v-model="password" minlength="6" maxlength="12" required
                                           placeholder="请输入新密码,密码长度6-12位" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">再次输入</label>
                                <div class="am-u-sm-9">
                                    <input type="password" id="password2" name="password2"
                                           v-model="password2" minlength="6" maxlength="12" required
                                           placeholder="请再次输入新密码,密码长度6-12位" class="am-form-field am-radius"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-offset-3" style="text-align: left">
                                    <button type="button" class="am-btn am-btn-primary"
                                            @click="changePassword"
                                            v-bind:disabled="changePasswordDisabled">保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/footer :: default"></div>
<style rel="stylesheet">
    #app {
        width: 100%;
    }

    .am-g {
        background-color: #fff;
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${user}]]
    /*]]>*/
</script>

<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/sec/user/account.js"></script>
</body>
</html>
