<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app" class="am_user">
    <div class="am_user_head">
        <div class="am_user_head_content">
            <div class="am_user_head_l">
                <div class="am_user_head_l_ico">
                    <img title="点击上传" id="c-upload-avatar" v-bind:src="getAvatar()" alt="" />
                </div>
                <div class="am_user_head_l_ico_info">
                    <span>
                        <span v-if="!isUpdateDisplayname">
                            <span v-text="user.displayname" class="am_user_head_l_name"></span>
                            <span style="padding: 0px 5px" v-on:click="startUpdateDisplayname()"><i class="fa fa-pencil"></i></span>
                        </span>
                        <span v-if="isUpdateDisplayname">
                            <input v-model="displayname" class="am-form-field am-radius"/>
                            <button v-on:click="updateDisplayname()" class="am-btn am-btn-primary am-btn-xs">保存</button>
                            <button v-on:click="cancelUpdateDisplayname()" class="am-btn default am-btn-xs">取消</button>
                        </span>
                    </span>
                    <br />
                    <span class="am_user_head_l_map">
                        <i class="fa fa-mobile"></i>
                        <span v-text="user.username"></span>
                    </span>
                </div>
            </div>
            <div class="am_user_head_r">
                <div class="am_user_head_r_tag">
                    <div class="am_user_head_l_ico_info_ti">已收藏 <span class="cff5656" th:text="${items.size()}"></span> 个活动</div>
                    <!--<span>-->
                        <!--<i class="am-icon-star"></i> 粉丝：<span class="am_user_head_unm">15</span>-->
                    <!--</span>-->
                                        <!--<span>-->
                        <!--<i class="am-icon-user"></i> 关注：<span class="am_user_head_unm">6</span>-->
                    <!--</span>-->
                                        <!--<span>-->
                        <!--<i class="am-icon-heart"></i>被喜欢：<span class="am_user_head_unm">60</span>-->
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>

    <div class="am-g amz-container">
        <div class="am-tabs am-tabs-d2 am_news_tab">
            <ul class="am-tabs-nav am-cf am_cf">
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/profile'?'am-active'">
                    <a href="/sec/user/profile">我参与的</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/favorite'?'am-active'">
                    <a href="/sec/user/favorite">我收藏的</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/personalscore'?'am-active'">
                    <a href="/sec/user/personalscore">我的积分</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/personalpayment'?'am-active'">
                    <a href="/sec/user/personalpayment">缴费记录</a>
                </li>
            </ul>

            <div class="am-tabs-bd">

                <div class="am-list-news-bd am_news_list_all">
                    <ul class="am-list">
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am_list_li"
                            th:each="item, stat : ${items}">
                            <div class="am-u-sm-3 am-list-thumb am_list_thumb">
                                <a class="" th:href="@{/pub/activity/detail/{id}(id=${item.get('id')})}" target="_blank">
                                    <img class="am_news_list_img" alt="图片加载中..."
                                         th:attr="data-url=${item.get('avatar')}" v-translator
                                    />
                                </a>
                            </div>
                            <div class=" am-u-sm-9 am-list-main am_list_main">
                                <h3 class="am-list-item-hd am_list_title">
                                    <a th:href="@{/pub/activity/detail/{id}(id=${item.get('id')})}" target="_blank" class="" th:text="${item.get('title')}"></a>
                                </h3>
                                <div class="am_list_author">
                                    地点: &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${item.get('address')}"></span>
                                </div>
                                <div class="am-list-item-text am_list_item_text">
                                    时间: &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${#dates.format(item.get('start_time'),'yyyy-MM-dd HH:mm')}"></span> ~ <span th:text="${#dates.format(item.get('end_time'),'yyyy-MM-dd HH:mm')}"></span>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
</div>

<div th:replace="fragments/footer :: default"></div>
<style rel="stylesheet">
#app {
    width: 100%;
}
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${user}]]
    /*]]>*/
</script>

<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/sec/user/favorite.js"></script>
</body>
</html>
