<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">
    <div class="manage-l">
        <div th:replace="fragments/leftnav :: default"></div>
    </div>

    <div class="manage-r">
        <div class="hd_list_right_tt">
            <div class="l"><strong>会员管理</strong><span>共 <span id="totalCount"></span> 条记录</span></div>
            <div class="vip_adv"></div>

        </div>

        <div class="am-tabs-bd am_bdfw">
            <div class="am-g">
                <form class="am-form-inline" method="post">
                    <div class="am-form-group">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input id="start" name="start" type="text" class="am-form-field" placeholder="注册开始日期" readonly th:value="${start}">
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                              </span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input id="end" name="end" type="text" class="am-form-field" placeholder="注册结束日期" readonly th:value="${end}">
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                              </span>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <input type="text" id="username" name="username" th:value="${#httpServletRequest.getParameter('username')}"
                               placeholder="请输入用户账号" class="am-form-field am-radius"/>
                    </div>
                    <div class="am-form-group">
                        <input type="text" id="displayname" name="displayname" th:value="${#httpServletRequest.getParameter('displayname')}"
                               placeholder="请输入显示名称" class="am-form-field am-radius"/>
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="real_name" name="real_name" th:value="${#httpServletRequest.getParameter('real_name')}"
                               placeholder="请输入真实姓名" class="am-form-field am-radius"/>
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="id_card" name="id_card" th:value="${#httpServletRequest.getParameter('id_card')}"
                               placeholder="请输入身份证号" class="am-form-field am-radius"/>
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="level" name="level" th:value="${#httpServletRequest.getParameter('level')}"
                               placeholder="请输入会员年度" class="am-form-field am-radius"/>
                    </div>

                    <!--<button type="submit" class="am-btn am-btn-default am-radius">-->
                        <!--<i class="am-icon-search"></i> 查询-->
                    <!--</button>-->

                    <button id="btnSearch" type="button" class="am-btn am-btn-default am-radius">
                        <i class="am-icon-search"></i> 查询
                    </button>
                </form>
            </div>

            <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>

            <div class="am-tab-panel am-fade am-in am-active">

                <div class="am-g dis_line">
                    <table class="am-table" id="bmusers" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>编号</th>
                            <th>用户账号</th>
                            <th>显示名称</th>
                            <th>注册时间</th>
                            <th>真实姓名</th>
                            <th>积分</th>
                            <th>性别</th>
                            <th>身份证号</th>
                            <th>是否认证</th>
                            <th>认证时间</th>
                            <th>会员年度</th>
                            <th>邮箱</th>
                            <th>工作单位</th>
                            <th>是否党员</th>
                            <th>家庭住址</th>
                            <th>血型</th>
                            <th>T恤尺寸</th>
                            <th>职业</th>
                            <th>紧急联系人姓名</th>
                            <th>紧急联系人电话</th>
                            <th>微信号</th>
                        </tr>
                        </thead>

                        <tbody id="bmBody">
                        <!--<tr th:each="item, stat : ${members}">-->
                            <!--<td th:text="${stat.index+1}"></td>-->
                            <!--<td th:text="${item.get('id')}"></td>-->
                            <!--<td th:text="${item.get('username')}"></td>-->
                            <!--<td th:text="${item.get('displayname')}"></td>-->
                            <!--<td th:text="${#dates.format(item.get('created'),'yyyy-MM-dd HH:mm:ss')}"></td>-->
                            <!--<td th:text="${item.get('real_name')}"></td>-->
                            <!--<td th:text="${item.get('gender')==1?'男':(item.get('gender')==2?'女':'')}"></td>-->
                            <!--<td th:text="${item.get('id_card')}"></td>-->
                            <!--<td th:text="${item.get('is_real')==true?'是':'否'}"></td>-->
                            <!--<td th:text="${(item.get('real_time')!=null)?#dates.format(item.get('real_time'),'yyyy-MM-dd HH:mm:ss'):''}"></td>-->
                            <!--<td th:text="${item.get('level')}"></td>-->
                            <!--<td th:text="${item.get('total_score')}"></td>-->
                            <!--<td th:text="${item.get('email')}"></td>-->
                            <!--<td th:text="${item.get('work_company')}"></td>-->
                            <!--<td th:text="${item.get('is_party')==true?'是':'否'}"></td>-->
                            <!--<td th:text="${item.get('address')}"></td>-->
                            <!--<td th:switch="${item.get('blood_type')}">-->
                                <!--<span th:case="'A'">A</span>-->
                                <!--<span th:case="'B'">B</span>-->
                                <!--<span th:case="'AB'">AB</span>-->
                                <!--<span th:case="'O'">O</span>-->
                            <!--</td>-->
                            <!--<td th:switch="${item.get('clothing_size')}">-->
                                <!--<span th:case="'S'">S</span>-->
                                <!--<span th:case="'M'">M</span>-->
                                <!--<span th:case="'L'">L</span>-->
                                <!--<span th:case="'XL'">XL</span>-->
                                <!--<span th:case="'XXL'">XXL</span>-->
                                <!--<span th:case="'XXXL'">XXXL</span>-->
                            <!--</td>-->
                            <!--<td th:text="${item.get('occupation')}"></td>-->
                            <!--<td th:text="${item.get('emergency_contact_name')}"></td>-->
                            <!--<td th:text="${item.get('emergency_contact_mobile')}"></td>-->
                            <!--<td th:text="${item.get('wechat_id')}"></td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>

            </div><!-- am-tabs-bd end -->

        </div>
    </div>
</div>


<div th:replace="fragments/footer :: default"></div>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/user/members.js"></script>
</body>
</html>


