<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app" class="am_user">
    <div class="am_user_head">
        <div class="am_user_head_content">
            <div class="am_user_head_l">
                <div class="am_user_head_l_ico">
                    <img title="点击上传" id="c-upload-avatar" v-bind:src="getAvatar()" alt="" />
                </div>
                <div class="am_user_head_l_ico_info">
                    <span>
                        <span v-if="!isUpdateDisplayname">
                            <span v-text="user.displayname" class="am_user_head_l_name"></span>
                            <span style="padding: 0px 5px" v-on:click="startUpdateDisplayname()"><i class="fa fa-pencil"></i></span>
                        </span>
                        <span v-if="isUpdateDisplayname">
                            <input v-model="displayname" class="am-input" />
                            <button v-on:click="updateDisplayname()" class="am-btn am-btn-primary am-btn-xs">保存</button>
                            <button v-on:click="cancelUpdateDisplayname()" class="am-btn default am-btn-xs">取消</button>
                        </span>
                    </span>
                    <br />
                    <span class="am_user_head_l_map">
                        <i class="fa fa-mobile"></i>
                        <span v-text="user.username"></span>
                    </span>
                </div>
            </div>
            <div class="am_user_head_r">
                <div class="am_user_head_r_tag">
                    <div class="am_user_head_l_ico_info_ti">累计有 <span class="cff5656" th:text="${items.size()}"></span> 缴费订单</div>
                    <!--<span>-->
                        <!--<i class="am-icon-star"></i> 粉丝：<span class="am_user_head_unm">15</span>-->
                    <!--</span>-->
                                        <!--<span>-->
                        <!--<i class="am-icon-user"></i> 关注：<span class="am_user_head_unm">6</span>-->
                    <!--</span>-->
                                        <!--<span>-->
                        <!--<i class="am-icon-heart"></i>被喜欢：<span class="am_user_head_unm">60</span>-->
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>

    <div class="am-g amz-container">
        <div class="am-tabs am-tabs-d2 am_news_tab">
            <ul class="am-tabs-nav am-cf am_cf">
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/profile'?'am-active'">
                    <a href="/sec/user/profile">我参与的</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/favorite'?'am-active'">
                    <a href="/sec/user/favorite">我收藏的</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/personalscore'?'am-active'">
                    <a href="/sec/user/personalscore">我的积分</a>
                </li>
                <li class="" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/personalpayment'?'am-active'">
                    <a href="/sec/user/personalpayment">缴费记录</a>
                </li>
            </ul>

            <div class="am-tabs-bd">

                <table class="am-table am-table-striped am-table-compact am-table-hover" id="bmTable" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <!--<th>ID</th>-->
                        <th class="hd_table">活动标题</th>
                        <th>票种</th>
                        <th>用户账号</th>
                        <!--<th>名称</th>-->
                        <th>付款金额</th>
                        <th>付款时间</th>
                        <th>订单时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="item, stat : ${items}">
                        <td></td>
                        <!--<td th:text="${item.get('id')}"></td>-->
                        <td><a th:href="@{/pub/activity/detail/{id}(id=${item.get('activity_id')})}" target="_blank"><span th:text="${item.get('activity_title')}"></span></a></td>
                        <td th:text="${item.get('ticket_title')}"></td>
                        <td th:text="${item.get('username')}"></td>
                        <!--<td th:text="${item.get('displayname')}"></td>-->
                        <td th:text="${item.get('price')}"></td>
                        <td th:text="${item.get('pay_time')}?${#dates.format(item.get('pay_time'),'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(item.get('created'),'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <div th:switch="${item.get('status')}">
                                <span th:case="2">完成付款</span>
                                <span th:case="1">未付款</span>
                                <span th:case="-1">订单取消</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>

<div th:replace="fragments/footer :: default"></div>
<style rel="stylesheet">
#app {
    width: 100%;
}
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${user}]]
    /*]]>*/
</script>

<script type="text/javascript" src="/asset/plupload/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/user/personalpayment.js"></script>
</body>
</html>
