<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/head :: default">
</head>
<link rel="stylesheet" href="/css/custom.css?1"/>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">

    <!--活动筛选 start-->
    <div class="activity_select_tc" id="activity_select_tc">

        <div class="select_K">
            <div class="select_qu_zu">
                <h3 class="select_qu_tit">分类：</h3>
                <ul class="select_ul" id="hd_tag" th:attr=(data-id=${tag})>
                    <li><a th:classappend="${tag=='0'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=0;time='+time+';pay='+pay}"><span>全部</span></a></li>
                    <li><a th:classappend="${tag=='b5'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b5;time='+time+';pay='+pay}"><span>跑步训练</span></a></li>
                    <li><a th:classappend="${tag=='b13'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b13;time='+time+';pay='+pay}"><span>运动装备</span></a></li>
                    <li><a th:classappend="${tag=='b12'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b12;time='+time+';pay='+pay}"><span>会员福利</span></a></li>
                    <li><a th:classappend="${tag=='b10'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b10;time='+time+';pay='+pay}"><span>国内赛事</span></a></li>
                    <li><a th:classappend="${tag=='b11'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b11;time='+time+';pay='+pay}"><span>国际赛事</span></a></li>
                    <li><a th:classappend="${tag=='b1'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b1;time='+time+';pay='+pay}"><span>徒步</span></a></li>
                    <li><a th:classappend="${tag=='b2'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b2;time='+time+';pay='+pay}"><span>越野</span></a></li>
                    <li><a th:classappend="${tag=='b3'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b3;time='+time+';pay='+pay}"><span>聚餐</span></a></li>
                    <li><a th:classappend="${tag=='b4'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b4;time='+time+';pay='+pay}"><span>骑行</span></a></li>
                    <li><a th:classappend="${tag=='b6'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b6;time='+time+';pay='+pay}"><span>会议</span></a></li>
                    <li><a th:classappend="${tag=='b7'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b7;time='+time+';pay='+pay}"><span>招募</span></a></li>
                    <li><a th:classappend="${tag=='b8'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag=b8;time='+time+';pay='+pay}"><span>讲座</span></a></li>
                </ul>
            </div>
            <div class="select_qu_zu">
                <h3 class="select_qu_tit">时间：</h3>
                <ul class="select_ul" id="hd_time" th:attr=(data-id=${time})>
                    <li><a th:classappend="${time=='0'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag='+tag+';time=0;pay='+pay}"><span>不限</span></a></li>
                    <li><a th:classappend="${time=='d'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag='+tag+';time=d;pay='+pay}"><span>今天</span></a></li>
                    <li><a th:classappend="${time=='w'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag='+tag+';time=w;pay='+pay}"><span>近一周</span></a></li>
                    <li><a th:classappend="${time=='m'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag='+tag+';time=m;pay='+pay}"><span>近一月</span></a></li>
                    <li><a th:classappend="${time=='z'}?'thisOver'"
                           th:href="${'/pub/search/'+s+';tag='+tag+';time=z;pay='+pay}"><span>周末</span></a></li>
                    <li class="date_Manually" id="select_day"
                        th:styleappend="${#strings.length(time)>1}?'background-color:#dd514c'">
                        <input id="start_date" type="text" class="post_tiMe4 star" placeholder="手动选择日期"
                               data-am-datepicker="{theme: 'danger'}" readonly th:value="${start_date}"/>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="amz-container">

        <div class="am-g am-imglist">
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
                <li th:each="item : ${activities}">
                    <div class="am-gallery-item am_list_block">
                        <a th:href="'/pub/activity/detail/' + ${item.get('id')}" target="_blank" class="am_img_bg">
                            <img class="am_img animated c-img" th:attr="data-url=${item.get('avatar')}" v-translator
                                 alt=""/>
                        </a>

                        <div class="am_listimg_info">
                            <span class="am-icon-heart" th:text="${item.get('favorite_count')}">0</span>
                            <span class="am-icon-comments" th:text="${item.get('attend_user_count')}">0</span>
                            <span class="am_imglist_time"
                                  th:text="${#dates.format(item.get('start_time'),'yyyy-MM-dd HH:mm')}"></span>
                        </div>

                        <div class="am_listimg_info">
                            <span class="am_imglist_user_font" th:text="${item.get('title')}"></span>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <ul class="am-pagination am-pagination-centered" th:if="${#lists.size(activities)} > 0">
            <li class="" th:classappend="${first}?'am-disabled'">
                <a th:href="${'/pub/search/'+s+';tag='+tag+';time='+time+';pay='+pay+';page='+(pageImpl.number-1)}">&laquo;</a>
            </li>
            <li class="" th:classappend="${(pageImpl.number+1)==i}?'am-active'"
                th:each="i:${#numbers.sequence(1, pageImpl.totalPages)}">
                <a th:href="${'/pub/search/'+s+';tag='+tag+';time='+time+';pay='+pay+';page='+(i-1)}"
                   th:text="${i}"></a>
            </li>
            <li class="" th:classappend="${last}?'am-disabled'">
                <a th:href="${'/pub/search/'+s+';tag='+tag+';time='+time+';pay='+pay+';page='+(pageImpl.number+1)}">&raquo;</a>
            </li>
        </ul>
    </div>

</div>

<div th:replace="fragments/footer :: default"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var s = [[${s}]];
    var tag = [[${tag}]];
    var time = [[${time}]];
    var pay = [[${pay}]];
    /*]]>*/
</script>
<script type="text/javascript" src="/js/petshow.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/pub/search.js"></script>
</body>
</html>
