<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="default">
    <meta charset="UTF-8" />
    <title>活动平台</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}">
    <!--<link rel="stylesheet" href="/css/font-awesome.min.css" />-->
    <!--<link rel="stylesheet" href="/css/amazeui.min.css" />-->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/petshow.css?1}" />
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css?1}" />

    <!--<link rel="stylesheet" href="/asset/datatables/jquery.dataTables.min.css" />-->
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/datatables/1.10.16/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="/asset/datatables/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="/asset/datatables/autoFill.dataTables.min.css" />
    <link rel="stylesheet" href="/asset/datatables/select.dataTables.min.css" />

    <!--<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.0/css/buttons.dataTables.min.css" />-->
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.2.2/css/autoFill.dataTables.min.css" />-->
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.4/css/select.dataTables.min.css" />-->

    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!--<script type="text/javascript"  src="/asset/datatables/jquery.dataTables.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript"  src="https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript"  src="/asset/datatables/dataTables.buttons.min.js"></script>
    <script type="text/javascript"  src="/asset/datatables/dataTables.autoFill.min.js"></script>
    <script type="text/javascript"  src="/asset/datatables/dataTables.select.min.js"></script>
    <script type="text/javascript"  src="/asset/datatables/buttons.flash.min.js"></script>
    <script type="text/javascript"  src="/asset/datatables/buttons.html5.min.js"></script>
    <script type="text/javascript"  src="/asset/datatables/buttons.print.min.js"></script>

    <!--<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/autofill/2.2.2/js/dataTables.autoFill.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.5.0/js/buttons.flash.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.5.0/js/buttons.html5.min.js"></script>-->
    <!--<script type="text/javascript"  src="https://cdn.datatables.net/buttons/1.5.0/js/buttons.print.min.js"></script>-->

    <script type="text/javascript"  src="https://cdn.bootcss.com/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript"  src="https://cdn.bootcss.com/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript"  src="https://cdn.bootcss.com/pdfmake/0.1.32/vfs_fonts.js"></script>

    <!--<script type="text/javascript"  src="/js/moment.min.js"></script>-->
    <script type="text/javascript"  src="https://cdn.bootcss.com/moment.js/2.19.4/moment.min.js"></script>
    <!--<script type="text/javascript"  src="/js/amazeui.min.js"></script>-->
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script type="text/javascript"  th:src="@{/js/countUp.min.js}"></script>
    <script type="text/javascript"  th:src="@{/js/amazeui.lazyload.min.js}"></script>
    <script type="text/javascript"  th:src="@{/js/util.js}"></script>
</div>
</body>
</html>