<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="default">

    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 120px;width: 50px">
        <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active">
            <!--<img class="am-gotop-icon-custom" src="http://amazeui.b0.upaiyun.com/assets/i/cpts/gotop/goTop.gif" />-->
        </a>
    </div>

    <footer class="am_footer">
        <div class="am_footer_con">

            <div class="am_footer_link">
                <span>关于北京市马拉松协会</span>
                <ul>
                    <li><a href="http://www.bj42195.com" target="_blank">关于我们</a></li>
                    <li><a href="#">发展历程</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
            </div>


            <div class="am_footer_don">
                <span>北京市华兴众泰体育科技有限责任公司</span>
                <dl>
                    <dt><img src="http://hxzt2018.oss-cn-beijing.aliyuncs.com/home/logo.png" alt="" /></dt>
                    <dd>一起长跑吧！北京市马拉松协会是传播长跑知识，组织长跑活动的社区，这里有您需要的各种长跑知识和活动赛事。
                    </dd>

                </dl>
            </div>

            <div class="am_footer_erweima">
                <div class="am_footer_weixin">
                    <!--<img src="http://hxzt2018.oss-cn-beijing.aliyuncs.com/home/wx.jpg" alt="" />-->
                    <img src="https://hxzt2018.oss-cn-beijing.aliyuncs.com/wx_home/xcx.jpg" alt="" />
                    <div class="am_footer_d_gzwx am-icon-weixin"> 微信小程序</div>
                </div>
            </div>
        </div>
        <div class="am_info_line">京ICP备18007945号 Copyright(c)2018 <span>北京市华兴众泰体育科技有限责任公司</span> All Rights Reserved 京ICP备18007945号</div>
        <div class="am_browse"><span>友情提示：推荐使用Chrome、Firefox、360、QQ浏览器（极速模式）访问本站系统！</span></div>
    </footer>
</div>
</body>
</html>