<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="default">
    <header class="c-header am-topbar am-topbar-inverse">
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a th:href="@{/}" class="am-topbar-logo">
                    <img th:src="${#httpSession.getAttribute('COMMUNITY_AVATAR')}">
                </a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse-5'}">
            <span class="am-sr-only">
                导航切换
            </span>
                <span class="am-icon-bars">
            </span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li>
                        <a th:href="@{/}">
                            首页
                        </a>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser}
                                and (${session.USER_CONTEXT.role}=='发布者' or ${session.USER_CONTEXT.role}=='管理员')">
                        <a th:href="@{/pub/activity/publish}">
                            发活动
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/pub/search/1}">
                            找活动
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/pub/activityphoto/photos}">
                            活动相册
                        </a>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser}
                                and (${session.USER_CONTEXT.role}=='发布者'
                                        or ${session.USER_CONTEXT.role}=='管理员'
                                        or (${session.COMMUNITY_USER_CONTEXT} != null and ${session.COMMUNITY_USER_CONTEXT.role} == '管理员')
                                        or (${session.COMMUNITY_USER_CONTEXT} != null and ${session.COMMUNITY_USER_CONTEXT.role} == '发布者')
                                     )">
                        <a th:href="@{/sec/thirdmanage/home/0}">
                            团体中心
                        </a>
                    </li>


                   <!-- <li class="am-dropdown" data-am-dropdown style="margin-left:130px;top:12px;">
                        <span class="btn1">
                            <a type="button" style="font-size: 14px;" class="am-btn am-btn-default am-btn-secondary am-radius "
                               th:href="@{/pub/applyforcommunity/applyforcommunities}">申请团体</a>
                        </span>
                    </li>-->
                    <li class="am-dropdown" data-am-dropdown style="margin-left: 280px;top:8px;">
                        <span class="btn1">
                            <button type="button" style="font-size: 14px;"
                                    class="am-btn am-btn-default am-btn-secondary
                                     am-radius am-dropdown-toggle">
                                <span th:inline="text">[[${session.COMMUNITY_CONTEXT.name}]]</span>
                            <span class="am-icon-caret-down"></span>
                            </button>
                        </span>
                        <ul class="am-dropdown-content">
                            <li class="am-dropdown-header">团体名称</li>
                            <li class="am-divider"></li>
                            <li th:each="item:${handlerCommunities}">
                                <a href="javascript:void(0);" th:onclick="'_communityChange(' + ${item.id}+ ')'"
                                   th:text="${item.name}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="am-topbar-right">
                    <span th:unless="${#httpServletRequest.remoteUser}">
                        <a th:href="@{/login}" class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span
                                class="am-icon-user"></span> 登录</a>
                        <a th:href="@{/pub/register}" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span
                                class="am-icon-pencil"></span>注册</a>
                    </span>

                    <form th:action="@{/logout}" method="post">
                        <ul th:if="${#httpServletRequest.remoteUser}" class="am-nav am-nav-pills am-topbar-nav">
                            <li class="am-dropdown" data-am-dropdown="">
                                <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                                    <!--<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>-->
                                    <!--<span th:inline="text">[[${session.SPRING_SECURITY_CONTEXT}]]</span>-->
                                    <!--<span th:inline="text">[[${session.USER_CONTEXT}]]</span>-->
                                    <span th:inline="text">[[${session.USER_CONTEXT.displayname}]]</span>
                                    <span class="am-icon-caret-down"></span>
                                </a>

                                <ul class="am-dropdown-content">
                                    <li>
                                        <a th:href="@{/sec/user/profile}">
                                            个人信息
                                        </a>
                                    </li>
                                    <!-- 团体组织用户角色：管理员/发布员，可以查看团体中心 -->
                                    <li th:if="${#httpServletRequest.remoteUser}
                                                and (${session.USER_CONTEXT.role}=='发布者'
                                                        or ${session.USER_CONTEXT.role}=='管理员'
                                                        or (${session.COMMUNITY_USER_CONTEXT} != null and ${session.COMMUNITY_USER_CONTEXT.role} == '管理员')
                                                        or (${session.COMMUNITY_USER_CONTEXT} != null and ${session.COMMUNITY_USER_CONTEXT.role} == '发布者')
                                                     )">
                                        <a th:href="@{/sec/thirdmanage/home/0}">
                                            团体中心
                                        </a>
                                    </li>
                                    <!-- 平台角色：管理员/发布员，可以查看管理中心 -->
                                    <li th:if="${#httpServletRequest.remoteUser}
                                                and (${session.USER_CONTEXT.role}=='发布者' or ${session.USER_CONTEXT.role}=='管理员')">
                                        <a th:href="@{/sec/community/communities}">
                                            管理中心
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="$(this).closest('form').submit(); return false;">登出</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        function _communityChange(id) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/changeCommunity',
                data: {
                    id: id,
                },
                success: function (data) {
                    if (data) {
                        //alert("操作成功！");
                        location.reload()
                    }
                },
            });
        }
    </script>
</div>
</body>
</html>