<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="default">
    <!--<div th:text="${#httpServletRequest.getRequestURI()}"></div>-->

    <ul class="am-nav">
        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/community/communities'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员' or ${session.USER_CONTEXT.role}=='发布者'">
            <span class="fa fa-home fa-fw"></span>
            <a class="ttgl" th:href="@{/sec/admin/community/communities}"><b></b>团体管理</a>
        </li>
        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/article/articles'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员' or ${session.USER_CONTEXT.role}=='发布者'">
            <span class="fa fa-bell fa-fw"></span>
            <a class="nrgl" th:href="@{/sec/admin/article/articles}"><b></b>内容管理</a>
        </li>
        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/poster/posters'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员' or ${session.USER_CONTEXT.role}=='发布者'">
            <span class="fa fa-file-image-o fa-fw"></span>
            <a class="hbgl" th:href="@{/sec/admin/poster/posters}"><b></b>海报管理</a>
        </li>
        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/material/materials'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员' or ${session.USER_CONTEXT.role}=='发布者'">
            <span class="fa fa-file-image-o fa-fw"></span>
            <a class="hbgl" th:href="@{/sec/admin/material/materials}"><b></b>素材库</a>
        </li>
        <li  class="am-nav-divider" th:if="${session.USER_CONTEXT.role}=='管理员'"></li>

        <!--<li style="display:none" th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(),'/sec/manage/home')}?'am-nav-header':''">-->
        <!--<span class="fa fa-cog"></span>-->
        <!--<a class="zxhd" th:href="@{/sec/manage/home/0}"><b></b>最新活动</a>-->
        <!--</li>-->
        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/activity/activities'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员' or ${session.USER_CONTEXT.role}=='发布者'">
            <span class="fa fa-cog fa-fw"></span>
            <a class="hdgl" th:href="@{/sec/admin/activity/activities}"><b></b>活动赛事</a>
        </li>
        <!--<li style="display: none" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/activity/attendusers'?'am-nav-header':''">-->
        <!--<span class="fa fa-pencil-square"></span>-->
        <!--<a class="bmgl" th:href="@{/sec/activity/attendusers}"><b></b>报名管理</a>-->
        <!--</li>-->
        <li  class="am-nav-divider" th:if="${session.USER_CONTEXT.role}=='管理员'"></li>

        <li th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/user/users'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员'">
            <span class="fa fa-user fa-fw"></span>
            <a class="yhgl" th:href="@{/sec/admin/user/users}"><b></b>平台用户</a>
        </li>
        <!--<li style="display: none" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/user/members'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员'">-->
        <!--<span class="fa fa-user"></span>-->
        <!--<a class="hygl" th:href="@{/sec/user/members}"><b></b>会员管理</a>-->
        <!--</li>-->
        <li class="am-nav-divider" th:if="${session.USER_CONTEXT.role}=='管理员'"></li>

        <li  th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/manage/scores'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员'">
            <span class="fa fa-yen fa-fw"></span>
            <a class="jfgl" th:href="@{/sec/admin/manage/scores}"><b></b>用户积分</a>
        </li>
        <li  class="am-nav-divider" th:if="${session.USER_CONTEXT.role}=='管理员'"></li>

        <li  th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/admin/manage/payments'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员'">
            <span class="fa fa-file-text fa-fw"></span>
            <a class="ddgl" th:href="@{/sec/admin/manage/payments}"><b></b>用户订单</a>
        </li>
        <!--<li style="display: none" th:classappend="${#httpServletRequest.getRequestURI()}=='/sec/manage/ordersstatistics'?'am-nav-header':''" th:if="${session.USER_CONTEXT.role}=='管理员'">-->
        <!--<span class="fa fa-line-chart"></span>-->
        <!--<a class="ddtj" th:href="@{/sec/manage/ordersstatistics}"><b></b>订单统计</a>-->
        <!--</li>-->

    </ul>
</div>
</body>
</html>