<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: default">

</head>
<body>
<div th:replace="fragments/header :: default"></div>
<div id="app">
    <div class="amz-container">

        <div class="am-tabs am-tabs-d2 am_news_tab">
            <ul class="am-tabs-nav am-cf am_cf">
                <li class="am-active">
                    <a href="#">活动详情</a>
                </li>
                <li class="">
                    <a href="#">活动相册</a>
                </li>
            </ul>


            <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default article_nr"
                     data-am-paragraph="{ tableScrollable: true, pureview: true }">
                <h1 class="article_nr_title" th:text="${poster.get('title')}"></h1>
                <div class="am_list_author">
                    <span class="am_news_time">
                &nbsp;•&nbsp;
                    <span class="timeago"
                          th:title="${#dates.format(poster.get('created'), 'yyyy-MM-dd HH:mm')}"
                          th:text="${#kylin.fromNow(poster.get('created'))}"></span>
                </span>

                </div>
                <div class="article_nr_content">
                    <p>活动时间:
                        <span th:text="${#dates.format(poster.get('start_time'), 'yyyy-MM-dd HH:mm')}"></span>
                        ~
                        <span th:text="${#dates.format(poster.get('end_time'), 'yyyy-MM-dd HH:mm')}"></span></p>
                    <p>活动地点: <span th:text="${poster.get('address')}"></span></p>
                    <p><img th:src="${poster.get('avatar')}"></p>
                    <p>摘要: <span th:text="${poster.get('summary')}"></span></p>
                    <div th:utext="${poster.get('body')}"></div>
                </div>

            </article>

            <p style="text-align:center;">
                <a th:href="@{/sec/thirdactivity/attend/{activityId}(activityId=${poster.get('id')})}"
                   class="am-btn am-btn-lg get-btn am-radius banner_ios ">我要报名</a>
            </p>

            <!--<div th:inline="text">[[${activity}]]</div>-->
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    #app {
        margin: 50px;
        min-height: 500px;
    }

    ul.am-tabs-nav.am-cf.am_cf {
        max-width: 810px;
    }
</style>
<!--<script th:inline="javascript">
    /*<![CDATA[*/
    var g_data = {
        activityId: [[${poster.get('activity_id')}]],
        /*favorite_count: [[${activity.get('favorite_count')}]],
        userId: [[${#httpServletRequest.remoteUser}]]*/
    }
    /*]]>*/
</script>-->
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/directive/directive.js"></script>
<script type="text/javascript" src="/js/pub/detail.js"></script>
</body>
</html>
