<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/head :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">
    <div class="get">

        <div class="c-bg">

            <div data-am-widget="slider" class="am-slider am-slider-c3"
                 data-am-slider='{&quot;controlNav&quot;:false}' style="">
                <ul class="am-slides">
                    <li th:each="poster,item:${posterItems}">
                        <div>
                            <a th:href="${poster.get('link')}" target="_blank">
                                <img th:src="${poster.get('avatar')}"></a>

                            <div class="am-slider-desc">
                                <!--Thymeleaf中each标签遍历list获取count,
                                如 th:each="poster,item:${posterItems}" ,
                                直接使用item.count计数，item.size取得集合的长度-->
                                <span class="am-slider-counter"><span class="am-active" th:text="${item.count}"></span>
                                    /<span th:text="${item.size}"></span>
                                </span>
                                <a th:href="${poster.get('link')}" target="_blank"><span
                                        th:text="${poster.get('title')}" style="color:#eff0f1"></span>
                                </a>
                                <span style="float: right"><a
                                        th:href="${poster.get('link')}"
                                        style="color:#eff0f1" target="_blank">了解更多</a></span>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <div class="" style="display: none;">
            <div class="am-u-lg-12">
                <div class="get-title">
                    <div class="get_font_left">
                        <span style="color:white;font-size: 35px;white-space:nowrap">已经有</span>
                    </div>
                    <div class="get_font_center" th:attr="count=${#lists.size(activities)}" id="banner_num"></div>
                    <div class="get_font_rigth">
                        <span style="color:white;font-size: 35px;white-space:nowrap">个活动</span>
                    </div>
                </div>

                <div class="font_line">
                    <span style="color:white;font-size: 30px;white-space:nowrap"
                          th:text="${community.description}"></span>
                </div>
                <p>
                    <a href="#" class="am-btn am-btn-sm get-btn  am-radius banner_ios ">
                        <i class="fa fa-weixin"></i>
                        微信小程序</a>
                </p>
            </div>
        </div>
    </div>
    <div class="c_orange_container">
        <div class="c_orange">
            <div class="orange_1 am-fl">
                <div class="orange_list">
                    <a class="am-btn am-btn-warning am-round" id="o_news"
                       th:href="@{pub/poster/allposter/n1}"
                       type="button" target="_blank">赛事活动</a>
                    <div class="orange_list list">
                        <ul class="am-list am-list-border">
                            <li th:each="poster:${posterItemsTop}" class="myOrange">
                                <a th:href="${poster.get('link')}" class="am-list-a"
                                   target="_blank">
                                    <span class="fa fa-caret-right"></span>
                                    <span class="o_min" th:text="${poster.get('title')}"></span>
                                    <span class="o_time"
                                          th:text="${#dates.format(poster.get('created'),'yyyy-MM-dd HH:mm:ss')}"
                                          th:text="${#kylin.fromNow(poster.get('created'))}"
                                    ></span>
                                </a>
                            </li>
                        </ul>
                        <a class="orange_list more" th:href="@{pub/poster/allposter/n1}" target="_blank">更多</a>
                    </div>

                    <!--<a class="am-btn am-btn-warning am-round" id="o_news"-->
                    <!--th:href="@{/pub/article/indexArticleCategory/2}"-->
                    <!--type="button">赛事新闻</a>-->
                    <!--<ul class="am-list am-list-border">-->
                    <!--<li th:each="item:${articles_news}" class="myOrange">-->
                    <!--<a th:href="@{/pub/article/indexArticleList/{id} (id=${item.get('id')}) }" class="am-list-a"-->
                    <!--target="_blank">-->
                    <!--<span class="o_min" th:text="${item.get('title')}"></span>-->
                    <!--<span class="fal fa-angle-right"></span>-->
                    <!--<span class="o_time"-->
                    <!--th:text="${#dates.format(item.get('publish_time'),'yyyy-MM-dd HH:mm:ss')}"-->
                    <!--th:text="${#kylin.fromNow(item.get('publish_time'))}"-->
                    <!--&gt;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>

            <div class="orange_2 am-fl">
                <div class="orange_list">
                    <a class="am-btn am-btn-warning am-round" id="o_notice"
                       th:href="@{/pub/article/indexArticleCategory/1}"
                       type="button" target="_blank">公告通知</a>
                    <div class="orange_list list">
                        <ul class="am-list am-list-border">
                            <li th:each="item:${articles}">
                                <a th:href="@{/pub/article/indexArticleList/{id} (id=${item.get('id')}) }"
                                   class="am-list-a"
                                   target="_blank">
                                    <span class="fa fa-caret-right"></span>
                                    <span class="o_min" th:text="${item.get('title')}"></span>
                                    <span class="o_time"
                                          th:text="${#dates.format(item.get('publish_time'),'yyyy-MM-dd HH:mm:ss')}"
                                          th:text="${#kylin.fromNow(item.get('publish_time'))}"
                                    >
                                </span>
                                </a>
                            </li>
                        </ul>
                        <a class="orange_list more" th:href="@{/pub/article/indexArticleCategory/1}"
                           target="_blank">更多</a>
                    </div>
                </div>
            </div>

            <div class="orange_3 am-fl">
                <div class="orange_list">
                    <a class="am-btn am-btn-warning am-round" id="o_exercise"
                       th:href="@{/pub/article/indexArticleCategory/3}"
                       type="button" target="_blank">运动指南</a>
                    <div class="orange_list list">
                        <ul class="am-list am-list-border">
                            <li th:each="item:${articles_exercise}">
                                <a th:href="@{/pub/article/indexArticleList/{id} (id=${item.get('id')}) }"
                                   class="am-list-a"
                                   target="_blank">
                                    <span class="fa fa-caret-right"></span>
                                    <span class="o_min" th:text="${item.get('title')}"></span>
                                    <span class="o_time"
                                          th:text="${#dates.format(item.get('publish_time'),'yyyy-MM-dd HH:mm:ss')}"
                                          th:text="${#kylin.fromNow(item.get('publish_time'))}"
                                    ></span>

                                </a>
                            </li>
                        </ul>
                        <a class="orange_list more" th:href="@{/pub/article/indexArticleCategory/3}"
                           target="_blank">更多</a>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="banner_navbg am-nbfc">
        <div class="am-g">
            <div class="banner_nav">
                <a th:class="${s == 1 ? 'banner_hover': ''}" th:href="@{/?s=1}">最新活动</a>
                <a th:class="${s == 2 ? 'banner_hover' : ''}" th:href="@{/?s=2}">人气最高</a>
                <a th:class="${tags == 'b5' ? 'banner_hover' : ''}" th:href="@{/?tags=b5}">跑步训练</a>
                <a th:class="${tags == 'b13' ? 'banner_hover' : ''}" th:href="@{/?tags=b13}">运动装备</a>
                <a th:class="${tags == 'b12' ? 'banner_hover' : ''}" th:href="@{/?tags=b12}">会员福利</a>
                <a th:class="${tags == 'b10' ? 'banner_hover' : ''}" th:href="@{/?tags=b10}">国内赛事</a>
                <a th:class="${tags == 'b11' ? 'banner_hover' : ''}" th:href="@{/?tags=b11}">国际赛事</a>
            </div>
        </div>
    </div>

    <div class="amz-container">

        <div class="am-g am-imglist">
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
                <li th:each="item : ${activities}">
                    <div class="am-gallery-item am_list_block">
                        <a th:href="@{/pub/activity/detail/{id}(id=${item.get('id')})}" target="_blank"
                           class="am_img_bg">
                            <img class="am_img animated c-img"
                                 alt=""
                                 th:attr="data-url=${item.get('avatar')}" v-translator/>
                        </a>

                        <div class="am_listimg_info">
                            <span class="am-icon-heart" th:text="${item.get('favorite_count')}">0</span>
                            <span class="am-icon-comments" th:text="${item.get('attend_user_count')}">0</span>
                            <span class="am_imglist_time"
                                  th:text="${#dates.format(item.get('start_time'),'yyyy-MM-dd HH:mm')}"></span>
                        </div>

                        <div class="am_listimg_info">
                            <span class="am_imglist_user_font" th:text="${item.get('title')}"></span>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>

<!--<script th:inline="javascript">
    /*<![CDATA[*/
    var _global_data = [[${community}]]
    /*]]>*/
</script>-->

<div th:replace="fragments/footer :: default"></div>
<script type="text/javascript" th:src="@{/js/petshow.js}"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" th:src="@{/js/directive/directive.js}"></script>
<script type="text/javascript" th:src="@{/js/pub/index.js}"></script>

<style type="text/css">
    .am_img.animated.c-img {
        height: 130px;
        width: 242px;
    }

    .am-list > li > a {
        color: #3d464d;
    }

    .c_orange {
        max-width: 1190px;
        margin: auto;
        /*border: 10px solid red;*/
    }

    .c_orange .am-list {
        font-size: 14px;
        width: 370px;
        margin-top: 10px;
    }

    .orange_1, .orange_2, .orange_3 {
        margin: 10px 0px 30px 0px;
    }

    .orange_1 {
        float: left;
        margin-left: 10px;
    }

    .orange_2 {
        margin-left: 30px;
    }

    .orange_3 {
        float: right;
        margin-right: 10px;
    }

    .c_orange .am-btn {
        font-size: 14px;
    }

    .o_time {
        float: right;
    }

    .fal {
        font-size: 24px;
        padding-left: 20px;
        line-height: 17px;
        float: right;
    }

    ul.am-list.am-list-border > li span {
        display: inline-block;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .orange_list {
        margin-top: 20px;
    }

    .c_orange_container {
        background-color: rgba(61, 48, 63, 0.04);
    }

    #o_notice, #o_news, #o_exercise {
        margin: 0 auto;
        border-radius: 8px;
        text-align: center;
    }

    .am-slides img {
        height: 350px;
    }

    .get {
        height: 350px;
    }

    .get .c-bg {
        height: 350px;
    }

    .am-slider-c3 {
        width: 100%;
        max-height: 350px;
        margin: 0px auto;
    }

    .am-slider-c3 .am-slider-desc {
        width: 100%;
        bottom: 0px;
    }

    .orange_list.list {
        display: block;
        background-color: #ffffff;
        height: 190px;
    }

    .orange_list.more {
        display: block;
        float: right;
        font-size: 12px;
        color: #3d464d;
        margin-right: 10px;
        margin-top: 0px;
    }

    .fa.fa-caret-right {
        margin-bottom: 4px;
    }
</style>

</body>
</html>
