<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>

<div id="app">
    <div class="get">
        <div class="c-bg"></div>
        <div class="">
            <div class="am-u-lg-12">
                <div class="get-title">
                    <div class="get_font_left">
                        <!--<img src="/img/font_yjy.png" alt="" />-->
                        <span style="color:white;font-size: 35px;white-space:nowrap">已经有</span>
                    </div>
                    <div class="get_font_center" th:attr="count=${#lists.size(activities)}" id="banner_num"></div>
                    <div class="get_font_rigth">
                        <!--<img src="/img/font_zty.png" alt="" />-->
                        <span style="color:white;font-size: 35px;white-space:nowrap">个活动</span>
                    </div>
                </div>

                <div class="font_line">
                    <!--<img src="/img/font_line.png" alt="" />-->
                    <span style="color:white;font-size: 30px;white-space:nowrap">北马北马，跑遍中华</span>
                </div>
                <p>
                    <a href="#" class="am-btn am-btn-sm get-btn  am-radius banner_ios ">
                        <i class="fa fa-weixin"></i>
                        微信公众号</a>
                    <!--<a href="###" class="am-btn am-btn-sm  am-radius get-btn banner_android am-icon-android"> Android</a>-->
                </p>
            </div>
        </div>
    </div>
    <div class="banner_navbg">
        <div class="am-g">
            <div class="banner_nav">
                <a th:class="${s == 1 ? 'banner_hover': ''}" th:href="@{/?s=1}">最新活动</a>
                <a th:class="${s == 2 ? 'banner_hover' : ''}" th:href="@{/?s=2}">人气最高</a>
                <a th:class="${tags == 'b5' ? 'banner_hover' : ''}" th:href="@{/?tags=b5}">跑步训练</a>
                <a th:class="${tags == 'b13' ? 'banner_hover' : ''}" th:href="@{/?tags=b13}">运动装备</a>
                <a th:class="${tags == 'b12' ? 'banner_hover' : ''}" th:href="@{/?tags=b12}">会员福利</a>
                <a th:class="${tags == 'b10-b11' ? 'banner_hover' : ''}" th:href="@{/?tags=b10-b11}">赛事活动</a>
            </div>
        </div>
    </div>

    <div class="amz-container">

        <div class="am-g am-imglist">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
            <li th:each="item : ${activities}">
                <div class="am-gallery-item am_list_block">
                    <a th:href="@{/pub/activity/detail/{id}(id=${item.get('id')})}" target="_blank"  class="am_img_bg">
                        <img class="am_img animated c-img"
                             th:attr="data-url=${item.get('avatar')}" v-translator
                             alt=""/>
                    </a>

                    <div class="am_listimg_info">
                        <span class="am-icon-heart" th:text="${item.get('favorite_count')}">0</span>
                        <span class="am-icon-comments" th:text="${item.get('attend_user_count')}">0</span>
                        <span class="am_imglist_time" th:text="${#dates.format(item.get('start_time'),'yyyy-MM-dd HH:mm')}"></span>
                    </div>

                    <div class="am_listimg_info">
                        <span class="am_imglist_user_font" th:text="${item.get('title')}"></span>
                    </div>
                </div>
            </li>


        </ul>
    </div>
    </div>
</div>

<div th:replace="fragments/footer :: default"></div>
<script type="text/javascript" th:src="@{/js/petshow.js}"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" th:src="@{/js/directive/directive.js}"></script>
<script type="text/javascript" th:src="@{/js/pub/index.js}"></script>
<style type="text/css">
    .am_img.animated.c-img {
        height: 130px;
        width: 242px;
    }
</style>

</body>
</html>
