<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: default">

</head>
<body>
<div th:replace="fragments/header :: default"></div>
<div id="app">
    <div class="amz-container">
        <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default article_nr"
                 data-am-paragraph="{ tableScrollable: true, pureview: true }">

            <h1 class="article_nr_title" th:text="${articles.get('title')}"></h1>
            <div class="article_nr_content">
                <p>发布时间:
                    <span th:text="${#dates.format(articles.get('publish_time'), 'yyyy-MM-dd HH:mm')}"></span></p>

                <p>发布单位: <span th:text="${articles.get('unit')}"></span></p>
                <p><img th:src="${articles.get('avatar')}"></p>
                <div th:utext="${articles.get('body')}"></div>

            </div>

        </article>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    #app{
        margin: 50px;
        min-height: 500px;
    }
</style>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/article/noticedetail.js"></script>
</body>
</html>