<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/head :: default">

</head>
<body>
<div th:replace="fragments/header :: default"></div>
<div class="get">
    <div class="c-bg"
         th:style="'background:url('+${session.COMMUNITY_CONTEXT.background}+')no-repeat;background-size: cover;'"></div>
    <div class="c-publish">
        <div class="am-u-lg-12">
            <div class="get-title">
                <a href="/sec/community/thirdactivity/publish?type=1" class="get_font_item">
                    <img src="/img/activity/activity.png" alt="" />
                    <br />
                    <span style="color:white;font-size: 35px;white-space:nowrap">一般活动</span>
                </a>
                <a href="/sec/community/thirdactivity/publish?type=2" class="get_font_item">
                    <img src="/img/activity/match.png" alt="" />
                    <br />
                    <span style="color:white;font-size: 35px;white-space:nowrap">体育赛事</span>
                </a>

                <a href="/sec/community/thirdactivity/publish?type=3" class="get_font_item">
                    <img src="/img/activity/activity.png" alt="" />
                    <br />
                    <span style="color:white;font-size: 35px;white-space:nowrap">抽签活动</span>
                </a>
                <a href="/sec/community/thirdactivity/publish?type=4" class="get_font_item">
                    <img src="/img/activity/match.png" alt="" />
                    <br />
                    <span style="color:white;font-size: 35px;white-space:nowrap">打卡活动</span>
                </a>
            </div>

            <div class="font_line">
                <!--<img src="/img/font_line.png" alt="" />-->
                <span style="color:white;font-size: 30px;white-space:nowrap">北马北马，跑遍中华</span>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<style type="text/css">
    .c-publish{
        height: 600px;
        width:100%;
        position: absolute;
        background-color: #00000088;
    }
    .c-publish .get-title{
        height: 335px;
    }
    .get_font_item{
        margin-top: 50px;
        width:250px;
        display: inline-block;
    }
</style>
</body>
</html>
