<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/backhead :: default">
</head>
<body>
<div th:replace="fragments/header :: default"></div>
<div id="app">
    <div class="manage-l">
        <div th:replace="thirdparty/leftnav :: default"></div>
    </div>
    <div class="manage-r">
        <div class="hd_list_right_tt">
            <div class="l"><strong>打卡活动统计 </strong><span>共 <span id="totalCount"></span> 条记录</span></div>
            <div class="vip_adv"></div>

        </div>

        <div class="am-tabs-bd am_bdfw">
            <form class="am-form-inline" method="post">
                <div class="am-g">
                    <div class="am-form-group">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input id="start" name="start" type="text" class="am-form-field" placeholder="打卡开始日期"
                                   readonly th:value="${start}">
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span
                                        class="am-icon-calendar"></span> </button>
                              </span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                            <input id="end" name="end" type="text" class="am-form-field" placeholder="打卡结束日期" readonly
                                   th:value="${end}">
                            <span class="am-input-group-btn am-datepicker-add-on">
                                <button class="am-btn am-btn-default" type="button"><span
                                        class="am-icon-calendar"></span> </button>
                              </span>
                        </div>
                    </div>
                </div>

                <div class="am-g">
                    <div class="am-form-group">
                        <input type="text" id="activityId" name="activityId"
                               placeholder="请输入活动编号" class="am-form-field am-radius"/>
                    </div>
                    <div class="am-form-group">
                        <input type="text" id="title" name="title"
                               placeholder="请输入活动标题" class="am-form-field am-radius"/>
                    </div>
                    <div class="am-form-group">
                        <input type="text" id="username" name="username"
                               placeholder="请输入手机号码" class="am-form-field am-radius"/>
                    </div>
                    <div class="am-form-group">
                        <input type="text" id="displayname" name="displayname"
                               placeholder="请输入显示名称" class="am-form-field am-radius"/>
                    </div>
                    <button id="btnSearch" type="button" class="am-btn am-btn-default am-radius">
                        <i class="am-icon-search"></i> 查询
                    </button>
                </div>
            </form>

            <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>

            <div class="am-tab-panel am-fade am-in am-active">

                <div class="am-g dis_line">
                    <table class="table" id="bmTable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>手机号码</th>
                            <th>显示名称</th>
                            <th>真实姓名</th>
                            <th>打卡次数</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: default"></div>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script type="text/javascript" src="/js/sec/community/thirdactivity/checkInData.js"></script>
</body>
</html>